.waiting {
  animation: flickerAnimation 1.5s infinite;
  -webkit-animation: flickerAnimation 1.5s infinite;
  opacity: 1;
  color: #383830;
  width: 100%;
  text-align: center;
}

@keyframes flickerAnimation { /* flame pulses */
  0%   { opacity:0.9; }
  50%  { opacity:0.25; }
  100% { opacity:0.9; }
}

.game-panel {
  position: relative;
  display:flex;
  margin: 0px auto 0 auto;
  align-self: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px; 
  color: #f5f4f1;
  flex-basis: 500px;
}

.game-panel .header {
  display: flex; 
  width: 100%;
  height: 50%;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.9em;
}

.game-panel .header .basic-info {
  display: flex;
  width: inherit;
  justify-content: space-between;
  align-items: center;
}

.game-panel .header .basic-info div {
  flex-basis: 0 1 166px;
}
.game-panel .header .game-info {
  display: flex;
  width: inherit;
  justify-content: space-between;
}

.game-panel .header .game-info div.round {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

.game-panel .header .game-info div.score {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-right: 0px;
}

.game-panel .header .game-info div.phase {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  font-size: 1.1em;
  font-weight: 500;
  opacity: 1;
  transition: opacity 0.5s;
}

.game-panel .header .message {
  display: flex;
  flex: 1;
  height: 100%;
  margin-top: 10px;
  align-items: baseline;
}

.game-panel .header .message h3 {
  display: block;
  flex-wrap: nowrap;
  margin-right: 10px;
}
.game-panel .header .message span {
  font-size: 1em;
  font-weight: 300;
  flex: 1;
}

.game-panel .controls {
  display: flex;
  min-height: 30px;
  justify-content: space-between;
  flex: 1;
  margin-bottom: 5px;
}

.game-panel .board-panel {
  display: flex;
  flex-direction: column;
}

.game-panel .board-panel .turn-info {
  display: flex;
  border: 1px #eee solid;
  border-left: 0px;
  border-right: 0px;
  padding: 6px 0;
  justify-content: space-around;
  width: inherit;
}

.game-panel .board-panel .turn-info .role-mine {
  flex-basis: 130px;
  font-size: 1.8em;
  align-self: center;
}

.game-panel .board-panel .turn-info .role-observed {
  flex-basis: 110px;
  font-size: 1.8em;
  align-self: center;
}

.game-panel .board-panel .turn-info .time {
  flex-basis: 45px;
  font-size: 1.0em;
  align-self: center;
}

.active-mine {
  color: #f92672;
}

.active-observed {
  color: #a6e22e;
}

.game-panel .board-panel .board {
  position: relative;
  margin-top: 5px;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
}

.game-panel .board-panel .board .tile {
  position: relative;
  width: 150px;
  height: 130px;
  border: 1px solid #383830;
  border-radius: 3px;
  background-color: #f5f4f1;
  color: #383038;
}

.tokenizer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
}

.game-panel .board-panel .board .tile .signal {
  text-align: left;
}

.game-panel .board-panel .board .tile .end {
  text-align: right;
}

.progress-table {
  margin: 5px;
}

.progress-table td,
.progress-table th {
  text-align: center;
  font-size: 0.8em;
  color: #777;
  padding: 3px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.progress-table td:first-child,
.progress-table th:first-child {
  border-left: 0px solid #ccc;
}