.base00-background{background-color:#272822}
.base01-background{background-color:#383830}
.base02-background{background-color:#49483e}
.base03-background{background-color:#75715e}
.base04-background{background-color:#a59f85}
.base05-background{background-color:#f8f8f2}
.base06-background{background-color:#f5f4f1}
.base07-background{background-color:#f9f8f5}
.base08-background{background-color:#f92672}
.base09-background{background-color:#fd971f}
.base0A-background{background-color:#f4bf75}
.base0B-background{background-color:#a6e22e}
.base0C-background{background-color:#a1efe4}
.base0D-background{background-color:#66d9ef}
.base0E-background{background-color:#ae81ff}
.base0F-background{background-color:#c63}
.base00{color:#272822}
.base01{color:#383830}
.base02{color:#49483e}
.base03{color:#75715e}
.base04{color:#a59f85}
.base05{color:#f8f8f2}
.base06{color:#f5f4f1}
.base07{color:#f9f8f5}
.base08{color:#f92672}
.base09{color:#fd971f}
.base0A{color:#f4bf75}
.base0B{color:#a6e22e}
.base0C{color:#a1efe4}
.base0D{color:#66d9ef}
.base0E{color:#ae81ff}
.base0F{color:#c63}

html {
  height: 100%;
}

body {
  font-family: 'Roboto', 'Times New Roman', sans-serif;
  background-color: #f5f4f1;
  font-size: 1.1em;
  line-height: 1.375em;
  margin: 0;
  height: 100%;
}

h1 {
  font-size: 3em;
  line-height: 1.15em;
  margin-bottom: 10px;
}

h2 {
  font-size: 2.25em;
  line-height: 1.25em;
}

h3 {
  font-size: 1.05em;
  line-height: 1.25em;
}

span {
  font-size: 0.8em;
  font-weight: 300;
}

label{
  display: block;
  font-weight: 400;
  font-size: 0.78em;
}

select {
  vertical-align: top;
}
button, input {
  background-color: #f5f4f1;
  color: #383038;
  font: inherit;
  margin: 0;
  font-size: 0.85em;
  padding: 0 6px;
  border: 0px;
}

button, input[type=submit] {
  padding: 3px 12px 3px 12px;
  vertical-align: center;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

input[type=submit]:hover {
  opacity: 0.9;
}

button:hover {
  opacity: 0.9;
}

button:active {
  opacity: 0.6;
}

input[type=submit]:active {
  opacity: 0.5;
}

textarea, input {
  outline: none;
}

#mount {
  height: 100%;
}

#main-view {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.join-game-panel {
  display: flex;
  flex-direction: column;
  color: #f5f4f1;
  text-align: center;
  height: auto;
  padding: 20px 25px;
  border-radius: 10px;
}

.form {
  margin-top: 30px;
  overflow: visible;
  width: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.form .form-row {
  display: flex;
  flex: 1;
  margin-bottom: 10px;
  flex-direction: column;
  text-align: justify;
}

.form .form-item {
  flex-basis: 30px;
}

.form .form-submit {
  margin-top: 10px;
  align-self: flex-end;
  width: 33%;
}

